/* ------------------------------ */
// Quick style helpers
/* ------------------------------ */

.min-h-100vh { min-height: 100vh }

.pin {
  position: absolute;

  &-xy {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.flex-1 {
  flex: 1;
}

